<div class="page-header">
  <% if user_signed_in? %>
    <%= link_to new_home_path, class: 'btn btn-primary' do %>

      Add listing
    <% end %>
  <% end %>
  <h1>Listings</h1>
</div>


<div class="row homes-row">
    <%= render @homes %>
  </div>





  <%= paginate @homes %>
<%= page_entries_info @homes %>
