.controller-homes {
  .home-image {
    width: 300px;
    height: 300px;
  }
}

.favorite-home.glyphicon-heart {
  color: red;
}


.standard-home {
  color: black;
}

.new-home {
  color: green;
}

.old-home {
  color: orange;
}
